@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

.side-logo {
  display: block;
  box-sizing: border-box;
  overflow: hidden;

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.login-form-container {
  padding: 15px 15px;
  display: block;

  .login-form {
    // margin: 5px 0 25px 0;
    height: 100%;

    .line {
      content: '';
      width: 100%;
      height: 3px;
      background-color: #51caa2;
      display: block;
      margin-bottom: 20px;
    }

    .yantra-logo {
      text-align: center;

      img {
        width: 40%;
        height: 40%;
        min-width: 200px;
      }
    }

    .timer {
      margin-left: 0;
    }

    .title-b {
      .title {
        font-size: 1.3rem;
        // color: var(--primary-color);
        text-shadow: 3px 3px 5px #404040a5;
        color: #40c196;
        font-weight: $fw-700;
        font-family: "Helvetica-bold";
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }

      p {
        font-size: $fs-14;
        color: var(--text-color);
        line-height: 1.45;
      }
    }

    input {
      transition: unset !important;
      border: 1px solid transparent !important;

      &:focus {
        border: 1px solid var(--primary-color) !important;
        box-shadow: none !important;
      }
    }

    @include media-max(md) {
      margin: 20px 0 15px 0;

      .title-b {
        margin-bottom: 10px;
      }
    }
  }

  .b-link {
    font-size: $fs-14;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: $fw-600;

    &:hover {
      color: var(--white-color);
    }
  }

  .reset_expire {
    h5 {
      color: var(--text-color);
    }

    color: var(--text-color);
  }

  .button-section {
    display: block;
    width: 100%;

    button.login-btn {
      width: 120px;
      border-radius: 5px;
      margin: 7px 0;
      font-family: "Helvetica-Bold";
      letter-spacing: 0.5px;
      transition: all 0.6s ease-in-out;
      outline: 1px solid var(--white-color);

      &:hover {
        border-color: var(--primary-color);
        color: var(--primary-color) !important;
        box-shadow: inset -10em 0 0 0 var(--white-color), inset 10em 0 0 0 var(--white-color) !important;
      }
    }
  }

}

body.dark {
  .login-form-container {
    .login-form {
      .title-b {
        .title {
          color: var(--white-color);
        }
      }

      .b-link {
        &:hover {
          color: var(--primary-color-light);
        }
      }
    }
  }
}