.table-title {
    font-size: 18px;
    padding-bottom: 10px;
    color: black;
    letter-spacing: 0.2mm;
}

body.dark {
    .table-title {
        font-size: 18px;
        padding-bottom: 10px;
        color: white;
        letter-spacing: 0.2mm;
    }
}