html {
  width: 100%;
}

body {
  font-family: $primary-font;
  font-weight: $fw-400;
  font-size: $fs-12;
  color: var(--secondary-100);
  background-color: var(--theme-color);
  font-style: normal;
  letter-spacing: 0;
  word-spacing: 0;
  text-transform: inherit;
  overflow-x: hidden;
}

%heading {
  font-weight: $fw-700;
  line-height: 1.4;
  color: var(--secondary-100);
}

h1 {
  @extend %heading;
  font-size: $fs-28;
}

h2 {
  @extend %heading;
  font-size: $fs-24;
}

h3 {
  @extend %heading;
  font-size: $fs-20;
}

h4 {
  @extend %heading;
  font-size: $fs-18;
}

h5 {
  @extend %heading;
  font-size: $fs-16;
}

h6 {
  @extend %heading;
  font-size: $fs-14;
}

a {
  color: $primary-300;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $primary-300;
  }
}

button,
button:focus {
  outline: none;
}

img {
  max-width: 100%;
  border: 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol {
  li {
    font-size: $fs-15;
  }
}

.cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.loading {
  z-index: 9999;
  background: #1c2430;
  opacity: 0.3;
  left: 0;
}

.gutter-9 {
  margin-left: -9px;
  margin-right: -9px;

  div[class*='col-'] {
    padding-left: 9px;
    padding-right: 9px;
  }
}

.text-danger {
  color: $red-300 !important;
}

.sticky-column {
  position: sticky;
  top: 85px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

// ::-moz-selection {
//   color: #ffffff;
//   background: #ffffff47;
// }

// ::selection {
//   color: #ffffff;
//   background: #ffffff47;
// }
.inputStar {
  color: var(--error-color) !important;
  margin: 0 3px !important;
  padding: 0 !important;
  font-size: 15px;
}

.option-icon {
  background-color: var(--primary-color);
  width: 35px;
  height: 35px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  cursor: pointer;

  &.big {
    width: 45px;
  }

  svg {
    width: 20px;
    height: 20px;

    path {
      fill: white;
    }
  }
}

.slick-dots {
  li {
    width: fit-content;
    height: fit-content;
    margin: 0;

    &:not(:last-child) {
      margin-right: 5px;
    }

    button {
      background-color: var(--gray-100);
      padding: 0;
      border-radius: 100%;
      width: 10px;
      height: 10px;

      &:before {
        display: none;
      }
    }

    &.slick-active {
      button {
        background-color: var(--primary-color);
      }
    }
  }
}

.input-group {
  input:focus {
    border-color: #ced4da;
    box-shadow: none;
  }
}

.date-data-field {
  min-width: 150px;
}

.textWrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.tag-button {
  padding: 6px 8px;
  letter-spacing: 0.5px;
  border-radius: 5px;
  border: 1px solid transparent;
  text-transform: capitalize;
  font-size: 12px;

  &.success {
    background-color: #288a51;
    color: #ffffff;
  }

  &.danger {
    background-color: #d53737;
    color: #ffffff;
  }

  &.info {}

  &.warning {
    background-color: #FBC02D;
    color: #582d00;
  }
}

body.dark {
  .tag-button {
    &.success {
      background-color: #3ab165;
      color: #000000;
    }

    &.danger {
      background-color: #8b0f3b;
      color: #ffd7d7;
    }

    &.info {}

    &.warning {
      background-color: #744801;
      color: #fff2dd;
    }
  }
}