@import '../../../assets/scss/helper/variables';

.dashboard-card-1 {
  .dash-card {
    .down-card-1 {
      background: var(--primary-color) !important;
      // background: linear-gradient(130deg, #841fa9, #242b95) !important;
    }
  }
}

.dash-card {
  background-color: var(--boxes-color);
  border: none;
  display: flex;
  height: 100%;
  border-radius: 8px;
  box-shadow: 6px 6px 20px 0px #9cd8c161;
  padding: 24px;
  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: 6px 6px 20px 0px #9cd8c6a6;
  }

  .card-body {
    padding: 0;
    display: flex;
    justify-content: space-between;

    .card-content {
      .card-text {
        color: var(--secondary-700);
        border-radius: 4px;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Helvetica-Bold';
      }

      .card-title {
        margin-bottom: 10px;
        color: var(--text-color);
        font-size: 16px;
        font-weight: 500;
        font-family: 'Lato', sans-serif;
      }
    }

    .card-logo {

      svg {
        color: white;
        background: black;
        width: 25px;
        height: 25px;
        padding: 12px;
        border-radius: 8px;
        box-shadow: 3px 3px 5px #505050aa;
      }
    }
  }
}

body.dark {
  .dashboard-card-1 {
    .dash-card {
      .down-card-1 {
        background: var(--primary-color) !important;
        // background: linear-gradient(130deg, #841fa9, #242b95) !important;
      }
    }
  }

  .dash-card {
    box-shadow: 6px 6px 20px 0px rgba(156, 216, 199, 0.08);

    &:hover {
      box-shadow: 6px 6px 20px 0px rgb(156 181 216 / 17%);
    }

    .card-body {
      .card-title {
        color: var(--secondary-400);
      }

      .card-text {
        color: var(--secondary-300);
      }
    }
  }
}