.breadcrumb {
  align-items: center;
  margin-bottom: 27px;
  position: relative;
  z-index: 1;

  i {
    font-weight: bold;
    font-size: $fs-30;
    color: var(--primary-color);
  }

  li {
    font-size: $fs-24;
    font-weight: $fw-700;
    font-family: "Helvetica-Bold";
    color: $white;
    text-transform: capitalize;
    line-height: 1.4;
    letter-spacing: 1px;

    &.active {
      color: var(--breadcrumb-item-active-color);
    }

    a {
      color: var(--breadcrumb-item-active-color);
      display: block;

      // &:hover {
      //   color: var(--primary-color);
      // }
    }
  }

  @include media-max(xl) {
    margin-bottom: 20px;
  }

  @include media-max(md) {
    display: none;
  }
}

.breadcrumb-slash{
  font-size: 16px;
  transform: rotate(75deg) translate(-4px , -1px);
}