.breadcrumb {
  align-items: center;
  margin-bottom: 27px;
  position: relative;
  z-index: 1;

  i {
    font-weight: bold;
    font-size: $fs-30;
    color: var(--primary-color);
  }

  li {
    font-size: $fs-24;
    font-weight: $fw-700;
    // font-family: "Helvetica-Bold";
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $white;
    text-transform: capitalize;
    line-height: 1.4;
    letter-spacing: 1px;

    &.active {
      color: var(--breadcrumb-item-active-color);
    }

    a {
      color: var(--breadcrumb-item-active-color);
      display: block;

      // &:hover {
      //   color: var(--primary-color);
      // }
    }
  }

  @include media-max(xl) {
    margin-bottom: 20px;
  }

  @include media-max(md) {
    display: none;
  }
}

.breadcrumb-slash{
  margin: 5px;
  font-size: 20px;
  font-weight: 800;
  transform: translate(0px , -1px);
}