.modal {
  margin: 0 auto !important;
  --bs-modal-margin: 0 auto !important
}

@media (max-width: 576px) {
  .modal {
    padding: 0 15px !important;
  }
}
.modal-content {
  background-color: var(--boxes-color);
  border-radius: 10px;
  border: none;

  h3,
  h5,
  h6 {
    color: var(--heading-color);
    font-family: 'Montserrat', sans-serif;
  }

  .modal-header {
    border-bottom: 1px solid var(--secondary-100);

    .btn-close {
      border-radius: 50%;
      margin: 0;
      background-color: var(--white-color);
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.306);
    }
  }

  .modal-body {
    text-align: center;
    padding: 45px 20px;

    h5,
    h6 {
      font-weight: 300;
    }

    article {
      margin-block: 10px 20px;
    }
  }

  .modal-footer {
    border-top: 1px solid var(--secondary-100);
  }
}

.image-popup .carousel-inner {
  max-height: calc(100vh - 100px);
}

.modal-backdrop {
  background: #1C2430;
  opacity: 0.3 !important;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: none !important;
}

body.dark {
  .modal-content {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 20px var(--secondary-500);

    .modal-header {
      .btn-close {
        background-color: var(--white-color);
      }
    }
  }
}