.datepicker-inputbox {
  width: 100%;
  font-size: 14px;
  padding: 7px 15px 4px;
  background-color: var(--input-background-color);
  color: var(--text-color);
  height: 38px;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--text-color);
  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    color: var(--text-color);
  }
}

.react-datepicker__year-read-view--down-arrow, 
.react-datepicker__month-read-view--down-arrow, 
.react-datepicker__month-year-read-view--down-arrow, 
.react-datepicker__navigation-icon::before {
  border-color: var(--white-color) !important;
}

.react-datepicker__year-dropdown--scrollable, .react-datepicker__month-dropdown--scrollable, .react-datepicker__month-year-dropdown--scrollable {
  background-color: var(--white-color) !important;
  border: none !important;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.318);
}

.react-datepicker__day--outside-month {
  background-color: var(--secondary-200) !important;
  border-radius: 5px;
}

.react-datepicker-wrapper{
  width: 100%;
}
.react-datepicker-popper {
  z-index: 9;
}
.react-datepicker {
  background-color: var(--boxes-color) !important;
  border-color: transparent !important;
  border: none !important;
  overflow: hidden;
  border-radius: 10px !important;
  box-shadow: 1px 1px 15px 1px #00000050;
}

.react-datepicker__navigation--previous {
  margin-top: 5px;
}
.react-datepicker__navigation--next {
  margin-top: 5px;
}
.react-datepicker__month-container {
  background-color: var(--boxes-color);
  border: none;
}
.react-datepicker__day {
  color: var(--text-color) !important;
  font-size: 12px;
}
.react-datepicker__day:hover,
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
}
.react-datepicker__day--in-range {
  background-color: var(--primary-color) !important;
}
.react-datepicker__day--in-range:hover {
  color: var(--text-color) !important;
}
.react-datepicker__header {
  background-color: var(--primary-color) !important;
  border: none;
  border-bottom: 1px transparent !important;
}
.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::after {
  border-bottom-color: var(--primary-color) !important;
}
.react-datepicker__day--keyboard-selected {
  background-color: var(--primary-color) !important;
}
.react-datepicker__day--keyboard-selected:hover {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
}
.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::before {
  border-bottom-color: transparent;
}
.react-datepicker__current-month {
  color: white !important;
  font-size: 14px !important;
  font-family: 'helvetica-regular';
  font-weight: 400 !important;
}
.react-datepicker__day-name {
  color: white !important;
  font-size: 12px !important;
  font-family: 'helvetica-regular';
  font-weight: 400 !important;
}

.react-datepicker-time__caption {
  color: black !important;
}

body.dark {
  .react-datepicker-time__caption {
    color: white !important
  }

  .react-datepicker__day--outside-month {
    background-color: var(--secondary-700) !important;
  }

  .react-datepicker__header  {
    border-bottom: 1px solid var(--white-color) !important;
  }

  .react-datepicker {
    border: 1px solid var(--white-color) !important;
    box-shadow: 0px 2px 10px 2px rgba(156, 181, 216, 0.3803921569) !important;
  }
}

.react-datepicker__day--in-selecting-range {
  background-color: var(--primary-color) !important;
}
.react-datepicker__day--in-selecting-range:hover {
  color: var(--text-color);
}
.react-datepicker__day--disabled {
  opacity: 0.5;
  &:hover {
    color: $white;
  }
}

.react-datepicker__day--today {
  border-radius: 0.3rem;
  background-color: var(--primary-color-light) !important;
}

.react-datepicker__month--selecting-range
  .react-datepicker__day--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ),
.react-datepicker__year--selecting-range
  .react-datepicker__day--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ),
.react-datepicker__month--selecting-range
  .react-datepicker__month-text--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ),
.react-datepicker__year--selecting-range
  .react-datepicker__month-text--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ),
.react-datepicker__month--selecting-range
  .react-datepicker__quarter-text--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ),
.react-datepicker__year--selecting-range
  .react-datepicker__quarter-text--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ),
.react-datepicker__month--selecting-range
  .react-datepicker__year-text--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ),
.react-datepicker__year--selecting-range
  .react-datepicker__year-text--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ) {
  background-color: var(--primary-color-light) !important;
  color: #000;
}

.react-datepicker--time-only,
.react-datepicker__time-container {
  .react-datepicker__triangle {
    left: -10px !important;
  }
  .react-datepicker-time__header {
    color: $white;
    font-size: $fs-14;
    font-weight: 400;
  }
  .react-datepicker__time {
    background-color: var(--secondary-700) !important;
    color: $white;
    li {
      &.react-datepicker__time-list-item--selected {
        font-weight: $fw-400 !important;
      }
      &:hover {
        color: var(--theme-color);
      }
    }
  }
}

// date and time picker
.rdtPicker {
  background-color: var(--boxes-color) !important;
  border-color: transparent !important;
  border: none !important;
  overflow: hidden;
  border-radius: 10px !important;
  box-shadow: 1px 1px 15px 1px #00000050 !important;
  padding: 0 !important;
}

.rdtPicker table thead ,th {
  background-color: var(--primary-color);
  border: none !important;
  font-family: 'helvetica-bold';
  color: var(--white-color);
}

.rdtSwitch:hover {
  color: black !important;
}

.rdtTimeToggle, .rdtSwitch {
  border: none !important;
  // background-color: var(--primary-color) !important;
}

.rdtSwitch {
  padding: 10px;
}

.reSchedule-datepicker .rdtPicker .rdtCounter .rdtBtn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-100);
  border-radius: 5px;
}

.reSchedule-datepicker .rdtPicker thead tr:first-of-type th.rdtPrev:hover, 
.reSchedule-datepicker .rdtPicker thead tr:first-of-type th.rdtNext:hover {
  background-color: var(--primary-color);
  color: black;
}

.rdtDay.rdtToday, .rdtDay:hover {
  border-radius: 5px;
  background-color: var(--primary-color-light);
}

.rdtDay {
  margin: 2px;
}

.rdtPicker td.rdtToday:before {
  border-bottom: none !important;
}

.rdtDisabled {
  cursor: not-allowed !important;
}

body.dark {
  .rdtPicker {
    border: 1px solid var(--white-color) !important;
  }

  .rdtPicker table thead {
    border-bottom: 1px solid var(--white-color) !important;
  }

  .rdtMonth.rdtDisabled:hover,
  .rdtYear.rdtDisabled:hover {
    background-color: var(--boxes-color) !important;
  }

  .rdtMonth:hover, .rdtYear:hover {
    background-color: var(--primary-color) !important;
  }
}

