.patient {

    span.patient-name {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 150px !important;
        max-width: 150px !important;
        text-align: center !important;

        &:hover {
            color: var(--text-hover);
        }
    }

    .single-line,
    th {
        text-wrap: nowrap;
    }

    .single-icon {
        i {
            transition: all 0.3s ease-in-out;
            font-size: 20px;

            &:hover {
                color: #2a9e2a;
            }
        }
    }

    .dominant-eye {
        text-transform: capitalize;
    }

    .disease {
        text-transform: uppercase;
        font-size: 11px;

        .present {
            color: var(--white-color);
            background: var(--primary-color);
            border-radius: 10px;
            padding: 5px 10px;
            font-weight: 800;
            font-family: 'Helvetica-Bold';
        }

        .not-present {
            color: var(--white-color);
            background: rgba(205, 11, 11, 0.816);
            border-radius: 10px;
            padding: 5px 10px;
            font-weight: 800;
            font-family: 'Helvetica-Bold';
        }
    }

    .dropdown-datatable-menu {
        a.edit:hover {
            color: rgb(241, 153, 0) !important;
        }

        a.delete:hover {
            color: rgb(250, 21, 21) !important;
        }
    }
}

@media (max-width: 615px) {
    .patient {
        .right {
            .patient-filter {
                margin-left: 0;

                .form-group {
                    margin: 0;
                }
            }
        }
    }
}

body.dark {
    .patient {
        .patient-name {
            &:hover {
                color: var(--text-hover);
            }
        }

        .single-icon {
            i {
                &:hover {
                    color: var(--primary-color);
                }
            }
        }

        .disease {
            .present {
                background: var(--theme-color);
            }

            .not-present {
                background: rgba(191, 25, 25, 0.832);
            }
        }
    }
}