// Colors
body {
  --error-color: #ce0404;
  --secondary-100: #f2f4f7;
  --secondary-200: #e4e6eb;
  --secondary-300: #d2d5d9;
  --secondary-400: #a7acb4;
  --secondary-500: #757982;
  --secondary-600: #50545d;
  --secondary-700: #324142;
  --secondary-800: #232e2a;
  --gray-100: #b2bfd2;
  --gray-200: #8292ad;
  --gray-medium: #8392ab;
  --white-color: #ffffff;
  --boxes-color: #ffffff;
  --heighLight-text: #3cb6ff;
  // --primary-color: #54287d;
  // --primary-color-light: #e1c1ff;

  &.light {
    // --theme-color: #f9f9ff;
    // --primary-color: #367596;
    // --primary-color-light: #5fa2c6c2;
    // --boxes-color: #ffffff;
    // --heading-color: #1c282e;
    // --text-color: #18303c;
    // --secondary-text-color: #345465;
    // --input-color: #ffffff33;
    // --input-select-background-color: #6f6f6f;
    // --input-background-color: #ededed;
    // --input-disable-background-color: #d7dee1;
    // --breadcrumb-item-active-color: #ffffff;
    // --line-color: #cecece;
    // --heighLight-text: #3cb6ff;
    // --text-hover: rgb(0, 169, 216);
    --theme-color: #ffffff;
    --primary-color: #008d74;
    --primary-color-light: #3a9e8c8f;
    --boxes-color: #ffffff;
    --heading-color: #1c282e;
    --text-color: #18303c;
    --secondary-text-color: #345465;
    --input-color: #ffffff33;
    --input-select-background-color: #6f6f6f;
    --input-background-color: #ededed;
    --input-disable-background-color: #d1e0dc;
    --breadcrumb-item-active-color: #ffffff;
    --line-color: #cecece;
    --heighLight-text: #3cb6ff;
    --text-hover: rgb(0, 191, 127);
  }

  &.dark {
    // --theme-color: #00517c;
    // --primary-color: #166792;
    // --primary-color-light: #84d4ff38;
    // --heading-color: #fff;
    // --boxes-color: #001e2e;
    // --text-color: #f1f1f1;
    // --secondary-text-color: #c9c9c9;
    // --input-color: #ffffff33;
    // --input-select-background-color: #011235;
    // --input-background-color: #335566;
    // --input-disable-background-color: #193441;
    // --breadcrumb-item-active-color: #d6d6d6;
    // --line-color: #525252;
    // --heighLight-text: #009bfa;
    // --text-hover: rgb(35, 130, 186);
    --theme-color: #006b58;
    --primary-color: #00846c;
    --primary-color-light: #84ffd638;
    --heading-color: #fff;
    --boxes-color: #002720;
    --text-color: #f1f1f1;
    --secondary-text-color: #c9c9c9;
    --input-color: #ffffff33;
    --input-select-background-color: #01382e;
    --input-background-color: #3b675f;
    --input-disable-background-color: #113c2e;
    --breadcrumb-item-active-color: #d6d6d6;
    --line-color: #525252;
    --heighLight-text: #00ffd2;
    --text-hover: rgb(35 186 156);
  }
}

$white: #ffffff;
$black: #000000;

$primary-100: #e7f0ff;
$primary-200: #a6c8ff;
$primary-300: #5090f6;
$primary-400: #045de9;
$primary-500: #235ce9;
$primary-600: #174a9c;
$primary-700: #0e3778;
$primary-800: #253459;
$primary-900: #0c264f;

$purple-100: #d4ccff;
$purple-200: #978ae6;
$purple-300: #6454bf;
$purple-400: #483a99;
$purple-500: #2b2166;

$red-100: #ffcccc;
$red-200: #e68a8a;
$red-300: #e64343;
$red-400: #993a3a;
$red-500: #662121;

$green-100: linear-gradient(0deg,
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.75)),
  #36b37e;
$green-200: linear-gradient(0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)),
  #36b37e;
$green-300: linear-gradient(0deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25)),
  #36b37e;
$green-400: #36b37e;
$green-500: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  #36b37e;
$green-600: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  #36b37e;
$green-700: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
  #36b37e;

$orange-100: linear-gradient(0deg,
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.75)),
  #ffab00;
$orange-200: linear-gradient(0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)),
  #ffab00;
$orange-300: linear-gradient(0deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25)),
  #ffab00;
$orange-400: #ffab00;
$orange-500: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  #ffab00;
$orange-600: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  #ffab00;
$orange-700: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
  #ffab00;

// Font
$primary-font: 'Helvetica-Regular';

$fw-300: 300; // Light
$fw-400: 400; // Regular
$fw-500: 500; // Medium
$fw-600: 600; // Semi bold
$fw-700: 700; // Bold
$fw-900: 900; // Black

$fs-10: 10px;
$fs-11: 11px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-26: 26px;
$fs-28: 28px;
$fs-30: 30px;

// Media query breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 767px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px) !default;