.details-row {
    gap: 20px 0;

    .details-card {
        color: var(--text-color);
        background: var(--boxes-color);
        height: 100%;
        border-radius: 8px;
        box-shadow: 5px 5px 15px 2px rgba(27, 34, 99, 0.20);

        .details-card-title {
            font-size: 16px;
            color: var(--text-color);
            font-family: 'helvetica-bold';
            font-weight: 700;
            padding: 20px;
            text-transform: uppercase;
            border-bottom: 1px solid var(--text-color);

            &::selection {
                background-color: var(--primary-color);
                color: var(--secondary-800);
            }
        }

        .details-card-data {
            padding: 30px;

            .line {
                display: block;
                content: '';
                width: 100%;
                height: 1px;
                background-color: var(--secondary-300);
                margin-top: 10px;
                margin-bottom: 20px;
            }

            .game-avatar {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                flex-wrap: nowrap;
                gap: 8px;
                margin-bottom: 5px;

                .game-name {
                    margin-top: 5px;
                    font-size: 1.6rem;
                    text-align: center;
                    text-transform: capitalize;
                    font-weight: 600;
                    color: var(--primary-color);

                    &::selection {
                        background-color: var(--primary-color);
                        color: var(--secondary-800);
                    }
                }

                .img-content {
                    width: 110px;
                    height: 110px;
                    border: 4px solid var(--theme-color);
                    outline: 4px solid var(--secondary-400);
                    border-radius: 100%;
                    overflow: hidden;
                    text-align: center;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .details-data-row {
                gap: 20px 0;

                span.reason {
                    border: 1px solid var(--input-background-color);
                    background-color: var(--input-background-color);
                    padding: 8px 20px;
                    border-radius: 5px;
                    font-size: 14px;
                    font-style: italic;
                    cursor: default;
                }

                .data-title,
                .data-value {
                    display: block;
                    padding: 3px 0;
                    word-break: break-all;
                    margin: 0 2px;
                }

                .capitalize {
                    text-transform: capitalize;
                }

                .data-title {
                    font-size: 11px;
                    letter-spacing: 1px;
                    font-family: 'helvetica-regular';
                    font-weight: 400;
                    color: var(--secondary-600);
                    text-transform: uppercase;

                    &::selection {
                        background-color: var(--primary-color);
                        color: var(--secondary-800);
                    }
                }

                .data-value {
                    font-size: 13.5px;
                    font-family: 'helvetica-bold';
                    font-weight: 600;
                    color: var(--secondary-600);

                    &::selection {
                        background-color: var(--primary-color);
                        color: var(--secondary-800);
                    }
                }
            }
        }
    }
}

body.dark {
    .details-row {
        .details-card {
            color: var(--text-color);
            background: var(--boxes-color);
            box-shadow: 0px 0px 15px 8px rgba(117, 229, 190, 0.4) !important;

            .details-card-title {
                color: var(--text-color);

                &::selection {
                    background-color: var(--secondary-200);
                    color: var(--secondary-800);
                }
            }

            .details-card-data {
                .line {
                    background-color: var(--secondary-500);
                }

                .game-avatar {
                    text-align: center;

                    img {
                        outline: 3px solid var(--secondary-500);
                    }
                }

                .details-data-row {
                    .data-title {
                        color: var(--secondary-500);

                        &::selection {
                            background-color: var(--secondary-200);
                            color: var(--secondary-800);
                        }
                    }

                    .data-value {
                        color: var(--secondary-300);

                        &::selection {
                            background-color: var(--secondary-200);
                            color: var(--secondary-800);
                        }
                    }
                }
            }
        }
    }
}