.admin-game-form {
    .form-group {
        margin: 0;
    }

    .patient-name {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .input-field {
            width: 100%;
        }
    }

    .add-patient {
        text-align: start;
        display: block;

        .b-link {
            font-family: 'Helvetica-Bold';
            padding-bottom: 2px;
            border-bottom: 2px solid var(--primary-color);
            font-style: italic;
            color: var(--primary-color);
            cursor: pointer;

            &:hover {
                color: var(--text-color);
            }
        }
    }
}