.admin-game-form {
    .patient-name {
        button.add-patient {
            padding: 0;
            height: 100%;
            border-radius: 4px;
            width: 100%;
            font-weight: 600;
        }
    }
}