.game-settings {
    .line {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--secondary-300);
        margin-bottom: 1.5rem;
    }

    .settings {
        .data-title {
            color: var(--primary-color);
            font-family: 'Helvetica-Bold';
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.8px;
        }

        .tabs {
            display: flex;
            gap: 10px;
            width: fit-content;
            position: relative;
            background-color: #fff;
            padding: 0.5rem;
            border-radius: 99px;
            background-color: #307194bf !important;
            border-radius: 50px;
            box-shadow: 6px 8px 10px #08080852;
            * {
                z-index: 2;
            }

            button {
                background-color: transparent !important;
                border: none !important;
                color: var(--text-color);
                transition: all 0.5s ease-in-out;
                font-family: 'Helvetica-Bold';

                &:hover {
                    box-shadow: none !important;
                    color: var(--white-color) !important;
                }

                &.checked {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--white-color) !important;

                    span {
                        color: var(--primary-color) !important;
                        font-weight: 600;
                        cursor: pointer;
                        transition: color 0.15s ease-in-out;
                    }
                }
            }
        }

        .slider-input {
            .slider-label {
                font-family: 'Helvetica-Bold';
                font-weight: 600;
                display: flex;
                justify-content: space-between;
                color: var(--secondary-500);
                margin: 0;
                flex-wrap: nowrap;
                letter-spacing: 0.5px;

                span {
                    display: flex;
                    justify-content: end;
                    flex-wrap: nowrap;

                    &.value {
                        font-family: 'Helvetica-Bold';
                        font-weight: 600;
                        font-size: 15.65px;
                        color: var(--text-hover);
                    }
                }

            }
        }
    }

    .games {
        .line {
            display: block;
            content: '';
            width: 100%;
            height: 1px;
            background-color: var(--secondary-300);
            margin-bottom: 1rem;
        }

        .game-title {
            color: var(--primary-color);
            font-family: 'Helvetica-Bold';
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.8px;
        }

        .antisuppresion-details-button-group {
            text-align: left;
            vertical-align: bottom;
            display: inline-block;
            width: 100%;
            padding: 0;
            margin: 0;
            margin-top: 10px;

            button {
                margin: 0 5px;
                position: relative;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-weight: 400;
                letter-spacing: 1px;
                transition: 0.3s ease-in-out;

                &.btn-primary {
                    &:hover {
                        box-shadow: none !important;
                    }
                }
            }
        }
    }
}