.game-settings {
    .line {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--secondary-300);
        margin-bottom: 1.3rem;
    }

    .game-global {
        .games {
            .line {
                display: block;
                content: '';
                width: 100%;
                height: 1px;
                background-color: var(--secondary-300);
                margin-bottom: 1.6rem;
            }

            .game-title {
                color: var(--primary-color);
                font-family: 'Helvetica-Bold';
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                font-size: 17px;
            }

            .antisuppresion-details-button-group {
                text-align: left;
                vertical-align: bottom;
                display: flex;
                flex-wrap: wrap;
                row-gap: 5px;
                width: 100%;
                padding: 0;
                margin: 0;
                margin-top: 10px;

                .no-games {
                    width: 100%;
                    text-align: center;
                    color: var(--secondary-400);
                    font-family: 'Helvetica-Bold';
                    font-weight: 600;
                    letter-spacing: 0.5px;
                }

                .form-content {
                    display: block;
                    width: 100%;
                }

                .skeleton-button {
                    box-sizing: border-box;
                    font-size: 1.25rem;
                    border-radius: 5px;
                    overflow: hidden;
                    position: relative;
                    z-index: 0;
                    margin: 2px 5px;
                    margin-top: 0;
                    background-color: var(--white-color);

                    span {

                        .react-loading-skeleton {
                            line-height: inherit !important;
                        }
                    }
                }

                button {
                    box-sizing: border-box;
                    min-width: fit-content;
                    margin: 0 5px;
                    position: relative;
                    font-weight: 400;
                    letter-spacing: 1px;
                    transition: 0.3s ease-in-out;

                    &.btn-primary {
                        svg {
                            transition: 0.5s ease-in-out;
                            // transform: rotate(90deg);
                            color: var(--secondary-100) !important;
                        }

                        &:hover {
                            box-shadow: none !important;

                            svg {
                                color: var(--primary-color) !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .global {
        .wrapper {
            max-height: calc(100vh - 168px);
            padding: 30px 10px;
            overflow-y: auto;
            overflow-x: hidden;

            .settings {

                .horizontal-content,
                .vertical-content {
                    margin-top: 10px;
                    box-shadow: 6px 6px 20px 0px rgba(156, 216, 193, 0.3803921569);
                    padding: 10px 15px;
                    border-radius: 8px;
                }

                .monocular-mode {
                    .content {
                        display: flex;
                        justify-content: space-between;
                        align-items: start;

                        .data-label {
                            font-family: 'Helvetica-Bold';
                            font-weight: 600;
                            display: flex;
                            justify-content: space-between;
                            color: var(--secondary-500) !important;
                            margin: 0;
                            flex-wrap: nowrap;
                            letter-spacing: 0.5px;
                        }
                    }
                }

                .current-patient {
                    .patient-content {
                        display: flex;
                        justify-content: space-between;
                        line-height: 1.5rem;
                        column-gap: 8px;

                        .data-label {
                            font-family: 'Helvetica-Bold';
                            font-weight: 600;
                            display: flex;
                            justify-content: space-between;
                            color: var(--secondary-500);
                            margin: 0;
                            flex-wrap: nowrap;
                            letter-spacing: 0.5px;
                        }

                        .data-value {
                            font-family: 'Helvetica-Bold';
                            font-weight: 600;
                            display: flex;
                            justify-content: space-between;
                            color: var(--text-hover);
                            margin: 0;
                            flex-wrap: nowrap;
                            letter-spacing: 0.5px;
                            word-break: break-all;

                            &.capitalize {
                                text-transform: capitalize;
                            }

                            .not-connected {
                                border: none;
                                border-radius: 99px;
                                padding: 0px 10px;
                                font-size: 9.5px;
                                background-color: var(--secondary-300);
                                color: var(--text-color);
                            }

                            .connected {
                                border: none;
                                border-radius: 99px;
                                padding: 0px 10px;
                                font-size: 9.5px;
                                background-color: var(--text-hover);
                                color: var(--white-color);
                            }
                        }
                    }
                }

                .data-title {
                    color: var(--primary-color) !important;
                    font-family: 'Helvetica-Bold';
                    font-weight: 600;
                    font-size: 17px;
                    text-transform: uppercase;
                    letter-spacing: 0.8px;
                }

                .tabs {
                    display: flex;
                    gap: 10px;
                    width: fit-content;
                    position: relative;
                    padding: 4px;
                    border-radius: 99px;
                    background-color: var(--primary-color) !important;
                    border-radius: 50px;
                    margin-top: 0 !important;
                    overflow: hidden;

                    * {
                        z-index: 2;
                    }

                    button {
                        background-color: transparent !important;
                        border: none !important;
                        color: var(--white-color);
                        transition: all 0.3s ease-in-out;
                        font-family: 'Helvetica-Bold';
                        padding: 5px 13px;
                        font-size: 12px;
                        letter-spacing: 0.8px;

                        &:hover {
                            box-shadow: none !important;
                            color: var(--white-color) !important;
                        }

                        &.checked {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: var(--white-color) !important;

                            span {
                                color: var(--primary-color) !important;
                                font-weight: 600;
                                cursor: pointer;
                                transition: color 0.3s ease-in-out;
                            }
                        }
                    }
                }

                .slider-input {
                    .slider-label {
                        font-family: 'Helvetica-Bold';
                        font-weight: 600;
                        display: flex;
                        justify-content: space-between;
                        color: var(--secondary-500);
                        margin: 0;
                        flex-wrap: nowrap;
                        letter-spacing: 0.5px;

                        span {
                            display: flex;
                            justify-content: end;
                            flex-wrap: nowrap;

                            &.value {
                                font-family: 'Helvetica-Bold';
                                font-weight: 600;
                                font-size: 15.65px;
                                color: var(--text-hover);
                            }
                        }

                    }
                }
            }
        }
    }
}


#game-setting-modal {
    .modal-header {
        padding: 20px 35px;

        .game-setting-modal-header {
            width: 100%;
            color: var(--primary-color);
            font-family: 'Helvetica-Bold';
            letter-spacing: 1px;
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
        }

        .game-setting-modal-header::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: var(--secondary-200);
            position: relative;
        }
    }

    .modal-body {
        padding-top: 0;
        padding-bottom: 10px;

        .form-group {
            text-align: start;
            margin: 0;

            .form-label {
                display: flex;
                align-items: flex-start;
            }

            .subTitle {
                font-size: 10px;
                color: var(--secondary-400);
                position: relative;
                top: 3px;
                left: 3px;
            }

            &.ringRunner {
                margin-bottom: 15px;

                .tabs {
                    display: flex;
                    gap: 10px;
                    width: fit-content;
                    position: relative;
                    padding: 4px;
                    border-radius: 99px;
                    background-color: var(--primary-color) !important;
                    border-radius: 50px;
                    margin-top: 0 !important;
                    overflow: hidden;

                    * {
                        z-index: 2;
                    }

                    button {
                        background-color: transparent !important;
                        border: none !important;
                        color: var(--white-color);
                        transition: all 0.3s ease-in-out;
                        font-family: 'Helvetica-Bold';
                        padding: 5px 13px;
                        font-size: 12px;
                        letter-spacing: 0.8px;

                        &:hover {
                            box-shadow: none !important;
                            color: var(--white-color) !important;
                        }

                        &.checked {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: var(--white-color) !important;

                            span {
                                color: var(--primary-color) !important;
                                font-weight: 600;
                                cursor: pointer;
                                transition: color 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }

            .tabs {
                display: flex;
                width: fit-content;
                position: relative;
                padding: 4px;
                gap: 8px;
                background-color: var(--primary-color) !important;
                border-radius: 99px;
                margin-top: 0 !important;
                overflow: hidden;

                * {
                    z-index: 2;
                }

                button {
                    background-color: transparent !important;
                    border: none !important;
                    color: var(--white-color);
                    transition: all 0.3s ease-in-out;
                    padding: 3px 8px;
                    font-size: 18px;
                    border-radius: 99px;
                    margin: 0;

                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg {
                            transform: rotate(0deg);
                        }
                    }

                    &:hover {
                        svg {
                            box-shadow: none !important;
                            color: var(--white-color) !important;
                        }
                    }

                    &.checked {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--white-color) !important;

                        span {

                            svg {
                                color: var(--primary-color) !important;
                                cursor: pointer;
                                transition: color 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }

    .modal-footer {
        display: flex;
        justify-content: flex-end;
        position: relative;
        bottom: 20px;
        padding-right: 30px;
    }
}

@media (max-width: 1200px) {
    .game-settings {
        .global {
            &.global-setting {
                .wrapper {
                    max-height: calc(100vh - 260px);
                    padding: 30px 10px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .game-settings {
        .settings {
            .tabs {
                button {
                    font-size: 12px;
                    padding: 5px 10px;
                }
            }
        }
    }
}


@media (max-height: 730px) {
    .game-settings {
        .global {
            .wrapper {
                height: 525px;
                padding: 30px 10px;
            }
        }
    }
}

#add-ticket {
    margin: 0 auto !important;

    .modal-header {
        padding: 20px 25px;

        .add-ticket-header {
            width: 100%;
            color: var(--text-color);
        }

        .add-ticket-header::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--secondary-300);
            position: relative;
        }

        button {
            color: red;
        }
    }

    .modal-body {
        padding: 0 25px;
        padding-bottom: 10px;

        .fileinput {
            label {
                font-size: $fs-12;
                font-weight: $fw-700;
                font-family: 'Helvetica-Bold';
                letter-spacing: 0.5px;
                color: var(--secondary-500) !important;
                line-height: 2;
                margin-bottom: 1px;
                text-transform: uppercase;
                text-align: start;
                width: 100%;
                padding: 0;
            }


            .inputtypefile {
                margin: 10px 0;

                .inputMSG {
                    width: 100%;

                    .document-preview-group {
                        margin: 0;
                        position: relative;
                        width: 100%;
                        z-index: 12;

                        .img-over {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.512);
                            display: none;
                            justify-content: center;
                            align-items: center;
                            color: #ffffff;
                            font-size: 18px;
                            font-weight: 800;
                            cursor: pointer;
                        }

                        &:hover {
                            .img-over {
                                display: flex;
                            }
                        }

                        .document-preview {
                            width: 100%;
                            overflow: hidden;
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: center;
                            align-items: center;

                            img {
                                height: 180px;
                            }
                        }
                    }
                }
            }
        }

        .form-group {
            .form-label {
                display: flex;
                align-items: flex-start;
            }
        }

        .reSchedule-datepicker {
            .rdtPicker {
                background-color: var(--boxes-color);
                color: var(--text-color);
                border: 1px solid var(--text-color);

                thead {
                    tr {
                        &:first-of-type {
                            th {
                                transition: 0.2s ease-in-out;

                                &:hover {
                                    background-color: var(--primary-color);
                                    color: var(--secondary-100);
                                }
                            }
                        }
                    }
                }

                .rdtTime .rdtSwitch {
                    border: 1px solid var(--text-color);
                    transition: 0.2s ease-in-out;

                    &:hover {
                        background-color: var(--primary-color);
                        color: var(--secondary-100);
                    }
                }

                .rdtTimeToggle {
                    border: 1px solid var(--text-color);
                }

                .rdtCounter {
                    .rdtBtn {
                        margin: 1px;
                        width: 35px;
                        height: 35px;

                        &:hover {
                            background-color: var(--primary-color);
                            color: var(--secondary-100);
                        }
                    }
                }

                td.rdtActive,
                td.rdtActive:hover {
                    background-color: var(--primary-color);
                    color: var(--secondary-100);
                }

                td.rdtToday {
                    &:before {
                        border-bottom: 7px solid var(--primary-color);
                    }
                }

                td.rdtDay:hover,
                td.rdtHour:hover,
                td.rdtMinute:hover,
                td.rdtSecond:hover,
                .rdtTimeToggle:hover {
                    background: var(--primary-color);
                    color: var(--secondary-100);
                    cursor: pointer;
                }

                td.bonus-view {
                    i {
                        color: red;
                    }
                }
            }
        }
    }

    .modal-footer {
        position: relative;
        bottom: 20px;
        padding-right: 20px;
        display: flex;
        align-items: end;
        justify-content: end;
    }
}


body.dark {
    .game-settings {
        .global {
            .settings {
                .current-patient {
                    .patient-content {
                        .data-label {
                            color: var(--secondary-300);
                        }

                        .data-value {
                            .not-connected {
                                background-color: var(--secondary-500);
                                color: var(--text-color);
                            }
                        }
                    }
                }

                .monocular-mode {
                    .content {
                        .data-label {
                            color: var(--secondary-300) !important;
                        }
                    }
                }

                .data-title {
                    color: var(--text-hover);

                    svg {
                        color: var(--secondary-300);
                    }
                }

                .tabs {
                    background-color: #25846ec7 !important;

                    * {
                        z-index: 2;
                    }

                    button {
                        &.checked {
                            background-color: var(--secondary-100) !important;

                            span {
                                color: var(--primary-color) !important;
                            }
                        }
                    }
                }

                .slider-input {
                    .slider-label {
                        color: var(--secondary-300);

                        span {
                            &.value {
                                color: var(--text-hover);
                            }
                        }

                    }
                }
            }
        }

        .react-loading-skeleton {
            --highlight-color: var(--secondary-400);
        }

        .game-global {
            .games {
                .game-title {
                    svg {
                        color: var(--secondary-300);
                    }
                }

                .wrapper {
                    box-shadow: 0px 0px 15px 2px rgba(117, 229, 190, 0.35) !important;
                }
            }
        }
    }

    #game-setting-modal {
        .modal-body {
            .wrapper {
                box-shadow: 0px 0px 15px 2px rgba(117, 229, 190, 0.35) !important;
            }
        }
    }
}